body{
  margin: 0;
  font-family: lexend, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main{

}

.game {
  display: flex;
  width: 560px;
  justify-content: space-between;
}

.left_side, .right_side{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 36px;
}

.buttons-container .buttons{
  padding: 0;
  border: none;
  margin: 0;
  background: none; /* Remove default button styling */
  cursor: pointer; /* Make cursor a pointer to indicate clickability */
  display: inline-block;
}

.buttons-container .buttons img, #chosenPicture img, #computerMovePic img{
  height: 80px;
  object-fit: contain;
  margin: 4px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

#paper {
  display: flex;
  align-items: center;
  font-size: 36px;
  color: white;
}
#paper span{
  margin-left: 4px;
}

#chosenPicture, #computerMovePic{
  width: 88px;
}

.middle_section{
  display: flex;
  align-items: center;
}

.middle_section span{
  font-size: 2rem;
}

.devious_comp{
  display: flex;
  justify-content: center;
  align-items: center;
}

.devious_comp img{
  width: 80px;
  margin: 4px;
  margin-left: 8px;
}

.devious_comp span{
  font-size: 36px;
  margin-left: 36px;
  color: white;
}


.captions{
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}


.results{
  background-color: lime;
  height: 80px;
}



