.video-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 850px) {
  .video-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 851px) and (max-width: 1109px) {
  .video-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1110px) {
  .video-container{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
}


.thumbnail img{
  width: 100%;
}

.video-info{
  display: grid;
  grid-template-columns: 48px 1fr;
}
  
.video-info img{
  height: 36px;
  border-radius: 50%;
}

.video-title{
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.video-author, .video-stats{
  font-size: 12px;
  color: hsl(0, 0%, 38%);
  line-height: 18px;
}

.video-title, .video-author{
  cursor: pointer;
}


.thumbnail{
  position: relative;
  margin-bottom: 8px;
}

.video-time{
  position: absolute;
  background-color: black;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  padding: 5px 4px;
  border-radius: 2px;
  bottom: 11px;
  right: 4px;
}