:root{
    --mainClr: #F44C7F;

    --activeClr: var(--mainClr);
    --correctClr: #e9ecf0;
    --statsTextClr: #939EAE;
    --statsNum: var(--mainClr);
    --creditLinks: var(--mainClr);
}


#text{
    font-size: 1.5rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

#text span.correct {
    color: var(--correctClr);
}

#text span.incorrect{
    color: rgb(218, 51, 51);
    background-color: rgba(218, 51, 51, 0.051);
}

#text span{
    position: relative;
}

#text span.active:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background-color: var(--activeClr);
    animation: blink 1s ease-in-out infinite;
    opacity: 0;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}


body{
    width: 100%;
    max-width: 768px;
}

#wrapper{
    border-width: 1px;
    border-style: solid;
}

#inputField:focus{
    outline: none;
    color: black;
}

#inputField{
    position: absolute;
    z-index: -99;
    opacity: 0;
}

.statsText{
    color: var(--statsTextClr);
    font-weight: 500;
}

.statsNum{
    color: var(--statsNum);
    font-weight: 800;
    font-size: 1.5rem;
}

.creditLinks{
    font-style: italic;
    text-decoration: underline;
}

#timerTag{
    background-color: transparent;
}

#timerTag .esse{
    font-size: 1rem;
    color: white;
}

#timerTag option{
    font-size: 1rem;
}