#text{
    font-size: 1.5rem;
    word-spacing: 2px;
    letter-spacing: 1px;
}

#text span.correct {
    color: var(--correctClr, #e9ecf0);
}

#text span.incorrect{
    color: #DA3333;
    background-color: #da33331a;
}

#text span{
    position: relative;
}

#text span.active:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 2px;
    background-color: var(--activeClr, #F44C7F);
    animation: blink 1s ease-in-out infinite;
    opacity: 0;
}

@keyframes blink {
    50%{
        opacity: 1;
    }
}


body{
    width: 100%;
    max-width: 768px;
}

#wrapper{
    border-width: 1px;
    border-style: solid;
}

#input-box:focus{
    outline: none;
    color: black;
}

#input-box{

}